
*{
	margin: 0px;
	padding: 0px;
	/*font-family: 'Open Sans', sans-serif;*/
	font-family: 'Roboto', sans-serif;
}

body{
	background-color: #343a40 !important;
	background-size: cover;
	background-attachment: fixed;
	font-family: new time roman;
	background-image: url(img/back1.jpg);
}

.index-h1{
	font-size: 40px;
	color: #d9d9d9;
	margin-top: 250px;
}

.index-text{
	font-size: 22px;
	color: #d9d9d9;
}

a {
	text-decoration: none;
}

td.table-center{
	text-align: center;
	vertical-align: middle;
}

.admin-table{
	overflow-x:auto;
}

h3{
	font-size: 25px;
	/*color: #d9d9d9;*/
}

/*.glyphicon-pencil{
	font-size: 35px;
	color: #d9d9d9;
	float: right;
	margin-top: 20px;
}*/

/*Create user*/

.regist-form-div{
	margin-top: 45px;
	width: 500px;
    background: transparent;
    border: 1px solid  #44a0b3;
}

.upload-form-div{
	margin-top: 45px;
    background: transparent;
    border: 1px solid  #44a0b3;
}

.label-user{
	font-weight: normal;
	margin-top: 15px;
	color: #44a0b3;
	font-size: 19px;
}

.register-form-input{
	background: transparent;
	font-size: 18px;
	margin-top: 15px;
	width: 320px;
	height:40px;
	color: #a6a6a6;
	margin-left: 22px; 
	font-family: 'Roboto', sans-serif;
}

.upload-form-input{
	background: transparent;
	font-size: 18px;
	height:48px;
	color: #a6a6a6;
	font-family: 'Roboto', sans-serif;
}

.create-user-btn{
	margin-top: 20px;
	font-size: 20px;
	width:  100px;
	margin-left: 170px;
	margin-bottom: 20px;
	align-content: center;
	background-color: transparent; 
	border: 1px solid #44a0b3;
	color: white;
	font-family: 'Roboto', sans-serif;

}

.submit-user-btn{
	margin-top: 20px;
	font-size: 20px;
	width:  100px;
	margin-left: -10px;
	margin-bottom: 20px;
	align-content: center;
	background-color: transparent; 
	border: 1px solid #44a0b3;
	color: white;
	font-family: 'Roboto', sans-serif;

}

.custom-control-label{

	color: #495057;
	padding: 0px;
	margin-left: 0px;

}

input[type="checkbox"]
{
	margin-top: 15px;
	width: 15px;
	height: 15px; 
}

.btn-index-info{
	margin-top: 20px;
	font-size: 20px;
	width:  100px;
	margin-left: 170px;
	margin-bottom: 20px;
	align-content: center;
	background-color: #007bff; 
	color: white;
}




/*Login*/

.signin-link{
	margin-top: 20px: 
	margin-left: 120px;
    color: #d9d9d9;
	border: 1px solid #44a0b3;
}

.signin-header{
	font-size: 25px;
}

.remember{
	color: grey;
}

.signin-btnn{
	width: 100%;
	/*margin-left: 145px; */
	display: block;
	margin: 0 auto;
	background-color: #44a0b3;
	border: 1px solid #44a0b3;
}

.signin-btnn:hover{
	border: 1px solid #44a0b3;
	background-color: transparent;
	color: #44a0b3;
}
.user-img img{
	height: 160px;
	width: 160px;
	border-radius: 50%;  
	background-color: #44a0b3;
	border: 2px solid #44a0b3;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

div.user-img{
	margin-top: 30px;
	margin-bottom: 45px;
}


.login-card{
	background: transparent;
	border: 1px solid #44a0b3;
	width: 430px;
}

.signin-form-input{
	background-color: transparent;
	color: #a9a9a9;
	border: 1px solid #44a0b3;

}

.google-i{
	height: 27px;
	width: 27px;
}

.fontAwesome-signin{ 
	font-family: 'Helvetica', FontAwesome, sans-serif; 
	font-size: 19px;	
	
}

.signin-google-btn{
	background-color: white	;
}


/*partA*/

.parta{
	font-family:Roboto,sans-serif;
	background-color: white;
    border-style: 1px solid grey;
    margin: 0 auto;
    text-align: center;
    /*opacity: 0.8;*/
    margin-top: 67px;
    /*box-shadow: 2px 5px 5px 0px #eee;*/
    max-width: 910px;
    padding-top: 10px;
    height: auto;
    margin-top: 20px;
}

.heading{
	font-size: 20px;
}

.parta-label{
	display: inline;
}

.yes, .no{
	color: black;
}

.partalabel{
	width:100%;
	height:37.73px;
	margin-top: 0;
}

.dynamic-four{
	margin: 6px;
	padding: 10px;
	width:200px;
}

.se-btn{
	position:fixed;
	z-index:1011;
	bottom:10px;
}

.parta-self-btn{
	background-color: white;
	border: 1px solid white;
	margin-top: -12px;
}

.parta-self-img{
	height: 40px;
	width: 40px;
}

/* USERPROFILE CSS */
.userprofile-card{
	margin-top:20px;
}

.userprofile-form-btn{
	margin-top: 10px;
	width:100%;
}

li .active{
	background-color: #bdc3c7 !important;
	/*width:50px;*/
	/*border-radius: 50% !important;*/
}

/*partB*/

.partb{
	font-family:Roboto,sans-serif;
	background-color: white;
    border-style: 1px solid grey;
    margin: 0 auto;
    text-align: center;
    /*opacity: 0.8;*/
    margin-top: 67px;
    /*box-shadow: 2px 5px 5px 0px #eee;*/
    max-width: 910px;
    padding-top: 10px;
    height: auto;
    margin-top: 20px;
}

/*.nav-tabs .nav-link.active{
	font-family:Roboto,sans-serif;
	font-size: 22px;
	background-color: #47C9AF;
	color:white;
	border-bottom:5px solid #47C9AF;
}

.nav-tabs .nav-link{
	font-family:Roboto,sans-serif;
	font-size: 20px;
	color:black;
	border-bottom:5px solid #47C9AF;
}*/

.cat-info{
	font-size: 17px;
}

nav > .nav.nav-tabs{

  	border: none;
    color:#fff;
    background:#343a40;
    border-radius:0;

}
nav > div a.nav-item.nav-link,
nav > div a.nav-item.nav-link.active
{
  border: none;
    padding: 18px 25px;
    color:#fff;
    background: #427198;
    border-radius:0;
}

nav > div a.nav-item.nav-link.active:after
 {
  content: "";
  position: relative;
  bottom: -59px;
  left: -19%;
  border: 15px solid transparent;
  border-top-color: #234968;
}
.tab-content{
  	background: #fdfdfd;
    line-height: 25px;
  	border: 1px solid #ddd;
	border-top:5px solid #234968;
    /*border-bottom:5px solid #e74c3c;*/
    padding:30px 25px;
}

nav > div a.nav-item.nav-link:hover,
nav > div a.nav-item.nav-link:focus
{
  border: none;
    background: #234968;
    color:#fff;
    border-radius:0;
    transition:background 0.20s linear;
    font-size: 17px;
}

/*SETTINGS*/
.setting-save{
	background-color: #44a0b3;
	border: 1px solid #44a0b3;
	letter-spacing: 1px;
	width: 100%;
}

.change-btn{
	background-color: #44a0b3;
	border: 1px solid #44a0b3;
	letter-spacing: 1px;
	width:100%;
}